TestingClient/TestingClient/Web References/WebMeetingService/WebMeetingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addMeeting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="maxNumberOfParticipants" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addMeetingResponse">
        <s:complexType />
      </s:element>
      <s:element name="getAllMeetingsList">
        <s:complexType />
      </s:element>
      <s:element name="getAllMeetingsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllMeetingsListResult" type="tns:ArrayOfMeeting" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMeeting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Meeting" nillable="true" type="tns:Meeting" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Meeting">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxNumberOfParticipants" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfFreePlaces" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getMeetingsByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMeetingsByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMeetingsByNameResult" type="tns:Meeting" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMeetingsByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMeetingsByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMeetingsByDateResult" type="tns:ArrayOfMeeting" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="getAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllUsersResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="getUserByLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserByLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserByLoginResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="signUpUserToMeeting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="signUpUserToMeetingResponse">
        <s:complexType />
      </s:element>
      <s:element name="getUserMeetings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserMeetingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserMeetingsResult" type="tns:ArrayOfMeeting" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMeetingParticipants">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="meetingName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMeetingParticipantsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMeetingParticipantsResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addMeetingSoapIn">
    <wsdl:part name="parameters" element="tns:addMeeting" />
  </wsdl:message>
  <wsdl:message name="addMeetingSoapOut">
    <wsdl:part name="parameters" element="tns:addMeetingResponse" />
  </wsdl:message>
  <wsdl:message name="getAllMeetingsListSoapIn">
    <wsdl:part name="parameters" element="tns:getAllMeetingsList" />
  </wsdl:message>
  <wsdl:message name="getAllMeetingsListSoapOut">
    <wsdl:part name="parameters" element="tns:getAllMeetingsListResponse" />
  </wsdl:message>
  <wsdl:message name="getMeetingsByNameSoapIn">
    <wsdl:part name="parameters" element="tns:getMeetingsByName" />
  </wsdl:message>
  <wsdl:message name="getMeetingsByNameSoapOut">
    <wsdl:part name="parameters" element="tns:getMeetingsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="getMeetingsByDateSoapIn">
    <wsdl:part name="parameters" element="tns:getMeetingsByDate" />
  </wsdl:message>
  <wsdl:message name="getMeetingsByDateSoapOut">
    <wsdl:part name="parameters" element="tns:getMeetingsByDateResponse" />
  </wsdl:message>
  <wsdl:message name="getAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="getAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="addUserSoapIn">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="addUserSoapOut">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="getUserByLoginSoapIn">
    <wsdl:part name="parameters" element="tns:getUserByLogin" />
  </wsdl:message>
  <wsdl:message name="getUserByLoginSoapOut">
    <wsdl:part name="parameters" element="tns:getUserByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="removeUserSoapIn">
    <wsdl:part name="parameters" element="tns:removeUser" />
  </wsdl:message>
  <wsdl:message name="removeUserSoapOut">
    <wsdl:part name="parameters" element="tns:removeUserResponse" />
  </wsdl:message>
  <wsdl:message name="signUpUserToMeetingSoapIn">
    <wsdl:part name="parameters" element="tns:signUpUserToMeeting" />
  </wsdl:message>
  <wsdl:message name="signUpUserToMeetingSoapOut">
    <wsdl:part name="parameters" element="tns:signUpUserToMeetingResponse" />
  </wsdl:message>
  <wsdl:message name="getUserMeetingsSoapIn">
    <wsdl:part name="parameters" element="tns:getUserMeetings" />
  </wsdl:message>
  <wsdl:message name="getUserMeetingsSoapOut">
    <wsdl:part name="parameters" element="tns:getUserMeetingsResponse" />
  </wsdl:message>
  <wsdl:message name="getMeetingParticipantsSoapIn">
    <wsdl:part name="parameters" element="tns:getMeetingParticipants" />
  </wsdl:message>
  <wsdl:message name="getMeetingParticipantsSoapOut">
    <wsdl:part name="parameters" element="tns:getMeetingParticipantsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebMeetingServiceSoap">
    <wsdl:operation name="addMeeting">
      <wsdl:input message="tns:addMeetingSoapIn" />
      <wsdl:output message="tns:addMeetingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllMeetingsList">
      <wsdl:input message="tns:getAllMeetingsListSoapIn" />
      <wsdl:output message="tns:getAllMeetingsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMeetingsByName">
      <wsdl:input message="tns:getMeetingsByNameSoapIn" />
      <wsdl:output message="tns:getMeetingsByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMeetingsByDate">
      <wsdl:input message="tns:getMeetingsByDateSoapIn" />
      <wsdl:output message="tns:getMeetingsByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input message="tns:getAllUsersSoapIn" />
      <wsdl:output message="tns:getAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUserSoapIn" />
      <wsdl:output message="tns:addUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserByLogin">
      <wsdl:input message="tns:getUserByLoginSoapIn" />
      <wsdl:output message="tns:getUserByLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <wsdl:input message="tns:removeUserSoapIn" />
      <wsdl:output message="tns:removeUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="signUpUserToMeeting">
      <wsdl:input message="tns:signUpUserToMeetingSoapIn" />
      <wsdl:output message="tns:signUpUserToMeetingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserMeetings">
      <wsdl:input message="tns:getUserMeetingsSoapIn" />
      <wsdl:output message="tns:getUserMeetingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMeetingParticipants">
      <wsdl:input message="tns:getMeetingParticipantsSoapIn" />
      <wsdl:output message="tns:getMeetingParticipantsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebMeetingServiceSoap" type="tns:WebMeetingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addMeeting">
      <soap:operation soapAction="http://tempuri.org/addMeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMeetingsList">
      <soap:operation soapAction="http://tempuri.org/getAllMeetingsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMeetingsByName">
      <soap:operation soapAction="http://tempuri.org/getMeetingsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMeetingsByDate">
      <soap:operation soapAction="http://tempuri.org/getMeetingsByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap:operation soapAction="http://tempuri.org/getAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByLogin">
      <soap:operation soapAction="http://tempuri.org/getUserByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <soap:operation soapAction="http://tempuri.org/removeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signUpUserToMeeting">
      <soap:operation soapAction="http://tempuri.org/signUpUserToMeeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserMeetings">
      <soap:operation soapAction="http://tempuri.org/getUserMeetings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMeetingParticipants">
      <soap:operation soapAction="http://tempuri.org/getMeetingParticipants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebMeetingServiceSoap12" type="tns:WebMeetingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addMeeting">
      <soap12:operation soapAction="http://tempuri.org/addMeeting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllMeetingsList">
      <soap12:operation soapAction="http://tempuri.org/getAllMeetingsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMeetingsByName">
      <soap12:operation soapAction="http://tempuri.org/getMeetingsByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMeetingsByDate">
      <soap12:operation soapAction="http://tempuri.org/getMeetingsByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap12:operation soapAction="http://tempuri.org/getAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap12:operation soapAction="http://tempuri.org/addUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByLogin">
      <soap12:operation soapAction="http://tempuri.org/getUserByLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUser">
      <soap12:operation soapAction="http://tempuri.org/removeUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signUpUserToMeeting">
      <soap12:operation soapAction="http://tempuri.org/signUpUserToMeeting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserMeetings">
      <soap12:operation soapAction="http://tempuri.org/getUserMeetings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMeetingParticipants">
      <soap12:operation soapAction="http://tempuri.org/getMeetingParticipants" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebMeetingService">
    <wsdl:port name="WebMeetingServiceSoap" binding="tns:WebMeetingServiceSoap">
      <soap:address location="http://localhost:58011/WebMeetingService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebMeetingServiceSoap12" binding="tns:WebMeetingServiceSoap12">
      <soap12:address location="http://localhost:58011/WebMeetingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>